#updateModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 25px;
    border: 1px solid #888;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    // Adjusted padding-top for .modal-content specifically
    padding-top: 3px;
  
    .close {
      color: #aaa;
      margin-left: auto; // Align the close button to the right
      font-size: 25px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  